*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: hsl(0, 0%, 49%);
    background-attachment: fixed;
    color: rgb(143, 24, 24);
    margin: 0;

}
.cabecalho{ 
    padding: 2% 0% 0% 15%;
}
.cabecalho-menu{
    display: flex;
    gap: 88px;
}
.cabecalho-menu-links{
    font-family:cursive;
    font-size: 24px;
    font-weight:600;
    color:rgb(56, 13, 13);
    text-decoration: none;
    
}